export(combineDysreg)
export(condiGRN)
export(DiffCor)
export(DiffReg)
export(DiffRegPlus)
export(DysReg)
export(DysRegClin)
export(fitness.Cindex)
export(fitness.AUC)
export(plotDysregExp)
export(plotDysregKM)
export(quantiReg)
export(RankDysReg)
export(RankDysTF)
import(Boruta)
import(limma)
import(igraph)
import(expm)
import(glmnet)
import(flare)
import(RGBM)
import(ggpubr)
import(ggplot2)
import(survival)
import(survcomp)
import(e1071)
importFrom("grDevices", "rainbow")
importFrom("graphics", "plot")
importFrom("stats", "as.formula", "coef", "confint", "cor", "glm",
           "mad", "median", "model.matrix", "na.omit", "p.adjust",
           "pnorm", "qnorm", "runif","aov", "chisq.test", "kruskal.test", 
		   "ks.test","predict", "rnorm", "sd")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom("ROCR", "performance")
importFrom("pROC", "ci")