export(combineDysReg)
export(condiGRN)
export(DiffCor)
export(DiffCorPlus)
export(DysReg)
export(Obj.Cindex)
export(plotDysregExp)
export(quantiReg)
export(RankDysTF)
export(RankDysReg)
import(Boruta)
import(limma)
import(igraph)
import(expm)
import(glmnet)
import(flare)
import(RGBM)
import(ggpubr)
import(survival)
import(survcomp)
importFrom("grDevices", "rainbow")
importFrom("graphics", "plot")
importFrom("stats", "as.formula", "coef", "confint", "cor", "glm",
           "mad", "median", "model.matrix", "na.omit", "p.adjust",
           "pnorm", "qnorm", "runif")